* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #a306b6;
  --bg-color: #d9d9d9;
  --fontColor: white;
  --link-font: 'Source Sans 3';
  --p-font: 'Source Sans 3 ';
  --heading-font: 'Montserrat';
}

.logo {
  width: 40px;
  height: 40px;
}

header {
  padding: 16px;
  background-color: var(--main-color);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  display: flex;
  justify-content: space-around;
  gap: 40px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--fontColor);
  font-family: var(--link-font);
}

.avatar-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--main-color);
  height: 35vh;
  flex-wrap: wrap;
}

h1 {
  font-family: var(--heading-font);
  color: var(--fontColor);
}

.avatar {
  width: 250px;
  height: auto;
  border: 3px solid var(--fontColor);
  border-radius: 50%;
  background-color: var(--fontColor);
}

#Articles{
  padding: 0 100px;
}
h2 {
  color: var(--main-color);
  text-align: center;
  font-family: var(--heading-font);
  padding: 32px;
  font-weight: bold;
}

h3{
  font-family: var(--heading-font);
}

p{
  font-family: var(--link-font);
}

.articles-container{
  display: flex;
  justify-content: center;
  gap: 30px;
 
}

article{
  display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
background-color: var(--bg-color);
border-radius: 5px;

}


.text-container{
  display: flex;
  flex-direction: column;
 padding-bottom: 16px;
 justify-content: center;
align-items: center;
gap: 10px;
}

button{
  background-color: var(--main-color);
  padding:8px ;
  width: 100px;
  border-radius: 16px;
  border: 1px solid var(--main-color);
  text-transform: uppercase;
  letter-spacing: 0.8px;
  color: var(--fontColor);
  font-weight: bold;
}
article div{
  display: flex;
  justify-content: center;
  
}

article div img{
object-fit: contain;
width: 305px;
height: 305px;
 
}


#About{
 padding: 5% 30% 5%;
text-align: left;
}



@media only screen and (max-width: 900px) {
  nav {
    flex-direction: column;
  }

  .avatar{
    width: 150px;
  }

  .avatar-section{
    flex-direction: column-reverse;
  
  }

  .articles-container{
    flex-direction: column;
  }

  article div img{
    max-width: 100%;
    height: auto;
  }
}
